// Steps стили

.steps {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: relative;
}

.steps__progress {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
}

.steps__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps__loading {
  align-self: center;
  margin: 0 auto;
}